<h4>Reviews</h4>
<blockquote ng-repeat="review in product.reviews">
    <b> Stars: {{review.stars}} <br></b>
    {{review.body}} <br>
    <em>by: {{review.author}}, createdOn: {{review.createdOn | date:short}}</em>
</blockquote>
<h4>Submit a Review</h4>
<form name="reviewForm" class="form-group" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
    <blockquote>
        <b> Stars:{{reviewCtrl.review.stars}} <br> </b>
        {{reviewCtrl.review.body}} <br>
        <em>by: {{reviewCtrl.review.author}}</em>
    </blockquote>
    <fieldset class="form-group">
        <label for="stars">How many stars you want to rate:</label>
        <select name="" id="stars" ng-model="reviewCtrl.review.stars" class="form-control" required>
            <option value="">Rate the product</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </fieldset>
    <fieldset class="form-group">
        <label for="body">Add your review text:</label>
        <textarea ng-model="reviewCtrl.review.body" class="form-control"
            placeholder="What do you think of the product bitch?" name="" id="body" cols="30" rows="10" required>
                </textarea>
    </fieldset>
    <fieldset class="form-group">
        <label for="author">Add your email</label>
        <input ng-model="reviewCtrl.review.author" id="author" type="text" class="form-control" type="email"
            placeholder="jimmy@gmail.com" required />
    </fieldset>
    <div>reviewForm is {{reviewForm.$valid}}</div>
    <fieldset class="form-group">
        <input type="submit" class="btn btn-primary pull-right" value="Submit Review" ng-disabled="!reviewForm.$valid">
    </fieldset>
</form>